useDynLib(SVCM)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
export(findVoxelSequenceRealdata)
export(Simtest)
export(smoothAspResidualRealdata)
export(smoothParameterRealdata)
export(smoothResidualRealdata)
export(smoothResidualRealdata_para)
export(findVoxelSequenceRealdata_para)
